body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

table{
  margin: 0 auto;
}
table, th, td {
  border: 1px solid black;
  border-collapse: collapse;
  padding: 16px;
}
.App{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
}
.edit-btn{
  color: rgb(255, 255, 255);
    display: inline-block;
    border-radius: 10px;
    padding: 14px 24px 16px;
    font-size: 18px;
    font-weight: 700;
    line-height: 1;
    border: 0px;
    cursor: pointer;
    user-select: none;
    transition: transform 200ms ease 0s, background 200ms ease 0s;
    text-align: center;
    text-decoration: none;
    position: relative;
    right: 133px;
    background: rgb(85, 81, 255);
}
.edit-btn{
  outline:none;
}
.dflex{
  display: flex;
  justify-content: center;
  gap: 24px;
}
.sub-btn{display: inline-block;
    border-radius: 10px;
    padding: 8px 16px;
    font-size: 18px;
    font-weight: 700;
    line-height: 1;
    border: 0px;
    color:#fff;
    background: rgb(85, 81, 255);
    }

.form>form{
  display: flex;
  flex-direction: column;
  margin: 24px auto;
  width: 240px;
}
form>input{
  margin:8px 0px 16px 0px;
  width: 240px;
}